<!doctype html>
<html class="no-js" lang="">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{title}}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/assets/css/a.mphibio.us.min.css">
<link rel="stylesheet" href="/assets/css/theme.css">
  
<script src="/assets/js/js/modernizr-2.6.2.min.js"></script>
<script src="/assets/js/js/prefixfree.min.js"></script>
<script src="/assets/js/js/jquery-3.1.1.min.js"></script>

</head>
<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	
<div class="container fluid">
	<div class="row">
		<header id="masthead" role="banner" class="f t l r top-bottom">
			<div class="container fluid">
				<div class="row">
					<div class="col three first pt pb">
<a href="https://www.perfect.org/" title="One language to rule them all, Server Side Swift by Perfect" class>
<img id="logo" src="/images/perfect-logo-2-0.png" srcset="/images/perfect-logo-2-0.png 1x, /images/perfect-logo-2-0.svg 2x" align="" class="swg" width="176" height="58" alt="Perfect Logo">
</a>
					</div>

<div class="col thirteen last pt">
<h1>{{title}}</h1>
</div>

				</div>
			</div>
		</header>
	</div>
