<div id="leftMenu">
{{#authenticated}}
<h4 class="dmt"><a href="/servers"><span class="icon-list"></span> Servers</a></h4>
<h4 class="dmt"><a href="/users"><span class="icon-users"></span> Users</a></h4>
<h4 class="dmt"><a href="/logout"><span class="icon-warning"></span> Logout</a></h4>
{{/authenticated}}
&nbsp;
</div>
