{{^authenticated}}
	{{>components/login}}
{{/authenticated}}

{{#authenticated}}
{{#tokenlist?}}{{>components/tokens}}{{/tokenlist?}}

{{#loglist?}}{{>components/logs}}{{/loglist?}}

{{#applist?}}{{>components/apps}}{{/applist?}}

{{/authenticated}}
