
	<div class="row dmt f l r b top-bottom" id="footer">

		<footer class="dpt dpb">
			<div class="container fluid">
				<div class="row">
					<div class="col sixteen first">
						<span class="icon-perfect"></span> &copy; PerfectlySoft Inc. 2016
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
  
	<script src="/assets/js/plugins.min.js"></script>	
	<script src="/assets/js/scripts.js"></script>
	
	
	</body>
</html>
