{{>header}}
<div class="row" style="margin-top: 100px;">
<div class="col ten push_three">
<p>SessionID: {{sessionID}}</p>
<p>Login Type: {{loginType}}</p>
<p>UserID: {{userID}}</p>
<p>UserName: {{firstName}} {{lastName}}</p>
<p>Picture: {{picture}}</p>
<p>AccessToken: {{accessToken}}</p>
<p><a href="/to/facebook" class="button">Log in with Facebook</a></p>


</div>
</div>
{{>footer}}
